@use "@global" as *;

.item-accordion {
  display: grid;
  background-color: var(--clr-pattens-blue);
  border-radius: 12px;
  transition: background-color var(--transition);

  &__header {
    display: flex;
    align-items: center;
    border-radius: 12px;
    @include adaptive-value('padding-inline', 32, 20);
    @include adaptive-value('padding-block', 24, 18);
    @include adaptive-value('gap', 40, 20);

    @media (hover: hover) {
      cursor: pointer;
      transition: opacity var(--transition);

      &:hover {
        opacity: .8;
      }
    }
  }

  &__title {
    font-weight: 600;
    flex-grow: 1;
    line-height: 1.2;
    text-align: left;
    @include adaptive-value('font-size', 20, 17);
  }

  &__btn {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-ice-cold);
    border-radius: 50%;
    aspect-ratio: 1;
    transition: rotate var(--transition);
    @include adaptive-value('width', 40, 34);

    svg {
      width: 50%;
      aspect-ratio: 1;
    }
  }

  &__wrapper {
    border-radius: 0 0 12px 12px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition), opacity var(--transition);
  }

  &__content {
    transition: opacity var(--transition), padding-block var(--transition);
    overflow: hidden;
    opacity: 0;
    padding-block: 0;
    @include adaptive-value('padding-inline', 32, 20);
  }

  &.is-active {
    background-color: hsl(from var(--clr-ice-cold) h s l / .4);
  }

  &.is-active & {
    &__btn {
      rotate: -45deg;
    }

    &__wrapper {
      grid-template-rows: 1fr;
    }

    &__content {
      opacity: 1;
      @include adaptive-value('padding-block', 24, 18);
    }
  }
}
