<div class="card-rule">
	<div class="card-rule__picture">
		<div class="elastic-gradient"></div>

		<div class="card-rule__icon">
			<svg>
				<use href="/images/sprite.svg#content-warning"></use>
			</svg>
		</div>
	</div>

	<div class="card-rule__content">
		<div class="card-rule__title">
			Головне правильно – зібрати документи та супроводити процес перемовин, щоб отримати максимальну суму
			компенсації згідно закону.
		</div>

		<div class="card-rule__action">
			<button type="button" class="btn" data-anchor="contacts">
				Звернутись прямо зараз

				<span class="btn__icon">
					<svg>
						<use href="/images/sprite.svg#icon-arrow-right"></use>
					</svg>
				</span>
			</button>
		</div>
	</div>
</div>
