<section class="container section-banner">
	<div class="section-banner__header">
		<h1 class="h1">
			Потрапили в ДТП?
		</h1>

		<p>
			А ви впевнені, що отримаєте всі належні вам виплати?
		</p>
	</div>

	<div class="section-banner__main">
		<button type="button" class="btn" data-anchor="contacts">
			Отримайте консультацію

			<span class="btn__icon">
				<svg>
					<use href="/images/sprite.svg#icon-arrow-right"></use>
				</svg>
			</span>
		</button>

		<p>
			Перша консультація безкоштовна!
		</p>
	</div>
</section>
