<section
	class="container section-cooperation"
	data-anchor-section="work-process"
	data-block-animation="cooperation"
>
	<div class="section-cooperation__header">
		<h2 class="h2">
			Як проходить процес співпраці з нами?
		</h2>
	</div>

	<div class="section-cooperation__items">
		<div class="card">
			<div class="card__header">
				<div class="elastic-gradient"></div>
				<div class="card__number">
					01
				</div>
			</div>
			<div class="card__main">
				<div class="card__title">
					Ваш дзвінок
				</div>

				<div class="card__content">
					Ми пояснюємо ваші права та можливі виплати.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card__header">
				<div class="elastic-gradient"></div>
				<div class="card__number">
					02
				</div>
			</div>
			<div class="card__main">
				<div class="card__title">
					Готуємо документи
				</div>

				<div class="card__content">
					Правильно оформлюємо все для страхової.
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card__header">
				<div class="elastic-gradient"></div>
				<div class="card__number">
					03
				</div>
			</div>
			<div class="card__main">
				<div class="card__title">
					Взаємодіємо зі страховими
				</div>

				<div class="card__content">
					Без вашого стресу
				</div>
			</div>
		</div>
		<div class="card card--black">
			<div class="card__header">
				<div class="card__number">
					01
				</div>
			</div>
			<div class="card__main">
				<div class="card__main">
					<div class="card__title">
						Ви отримуєте належну виплату
					</div>

					<div class="card__content">
						А ми отримуємо оплату лише після вас.
					</div>
				</div>
			</div>

			<div class="card__action">
				<button type="button" class="btn" data-anchor="contacts">
					Отримати виплати

					<span class="btn__icon">
						<svg>
							<use href="/images/sprite.svg#icon-arrow-right"></use>
						</svg>
					</span>
				</button>
			</div>
		</div>

		<div class="line">
			<div class="picture">
				<img src="/images/picture-4.jpeg" alt="Picture" class="img-cover" width="202" height="162">
			</div>

			<svg xmlns="http://www.w3.org/2000/svg" width="632" height="330" viewBox="0 0 632 330" fill="none">
				<path
					d="M506.5 2C559.421 17.8352 664.499 68.1956 618.941 148.955C561.994 249.905 443.498 78.2366 350.887 109.007C258.276 139.778 103.5 324.5 1 328.5"
					stroke="#90B7C0" stroke-width="3" stroke-dasharray="4 4"/>
			</svg>
		</div>
	</div>
</section>
