<footer
	class="container footer"
	data-anchor-section="contacts"
	data-block-animation="footer"
>
	<div class="footer__wrapper">
		<div class="block-contact">
			<div class="block-contact__header">
				<h2 class="h2 bg-help">
					Дозвольте нам <span>допомогти</span>
				</h2>
			</div>

			<ul class="block-contact__list">
				<li class="link-contact">
					<svg>
						<use href="/images/sprite.svg#icon-phone"></use>
					</svg>

					<a href="" class="link-contact__link">
						+38 (077) 888 - 2000
					</a>
				</li>
				<li class="link-contact">
					<svg>
						<use href="/images/sprite.svg#icon-mail"></use>
					</svg>

					<a href="" class="link-contact__link">
						сontact@sau.com.ua
					</a>
				</li>

				<li class="link-contact">
					<svg>
						<use href="/images/sprite.svg#icon-marker"></use>
					</svg>

					<a href="" class="link-contact__link">
						м. Київ, вул. Здовбунівська 42/2
					</a>
				</li>
			</ul>

			<ul class="block-contact__social">
				<li class="link-social">
					<a href="https://t.me/test" class="link-social__link" target="_blank">
						<svg>
							<use href="/images/sprite.svg#social-telegram"></use>
						</svg>
					</a>

					<span>Telegram</span>
				</li>
				<li class="link-social">
					<a href="https://developers.viber.com/docs/tools/share-button/" class="link-social__link"
					   target="_blank">
						<svg>
							<use href="/images/sprite.svg#social-viber"></use>
						</svg>
					</a>

					<span>Viber</span>
				</li>
				<li class="link-social">
					<a href="https://wa.me/" class="link-social__link" target="_blank">
						<svg>
							<use href="/images/sprite.svg#social-whatsApp"></use>
						</svg>
					</a>

					<span>WhatsApp</span>
				</li>
			</ul>

			<div class="block-contact__copyright">
				Всі права захищені CАУ © 2025
			</div>
		</div>

		<div class="footer__driver">
			Або
		</div>

		<div class="block-form">
			<div class="block-form__title">
				Залишайте заявку та отримайте безкоштовну консультацію просто зараз!
			</div>

			<form action="" class="form-contact block-form__contact">
				<div class="form-contact__main">
					<label class="form-group">
						<span class="wpcf7-form-control-wrap">
							<input type="text" placeholder="Введіть ім’я" name="name" class="wpcf7-not-valid">

							<span class="wpcf7-not-valid-tip">
								Будь ласка, заповніть це поле.
							</span>
						</span>
					</label>

					<label class="form-group">
						<span class="wpcf7-form-control-wrap">
							<input type="tel" placeholder="Введіть номер" name="phone">
						</span>
					</label>
				</div>

				<div class="form-contact__actions">
					<button type="submit" class="btn">
						Отримайте консультацію

						<span class="btn__icon">
							<svg>
								<use href="/images/sprite.svg#icon-arrow-right"></use>
							</svg>
						</span>
					</button>

					<label class="input-file">
						<input id="input-file" type="file" accept="image/*">

						<span class="input-file__main">
							<span class="input-file__btn is-show" data-file-add>
								<svg>
									<use href="/images/sprite.svg#icon-attach"></use>
								</svg>
							</span>

							<span class="input-file__btn" data-file-remove>
								<svg>
									<use href="/images/sprite.svg#icon-close"></use>
								</svg>
							</span>
						</span>
					</label>
				</div>
			</form>

			<div class="block-form__navigation">
				<a href="/privacy-policy.html">
					Політика конфіденційності
				</a>

				<a href="/terms-of-use.html">
					Умови використання
				</a>
			</div>
		</div>
	</div>

	<div class="footer__developed">
		Розроблено в:

		<a href="" target="_blank">
			<svg>
				<use href="/images/sprite.svg#logo-resense"></use>
			</svg>
		</a>
	</div>
</footer>
