<header class="container header">
	<a href="" class="logo">
		<svg class="logo__svg">
			<use href="/images/sprite.svg#logo"></use>
		</svg>

		<svg class="logo__bg">
			<use href="/images/sprite.svg#logo-bg"></use>
		</svg>
	</a>
	
	<nav class="menu" role="menu">
		<ul>
			<li>
				<a href="" data-anchor="right-payment" class="is-active">Право на виплату</a>
			</li>
			<li>
				<a href="" data-anchor="work-process">Процесс роботи</a>
			</li>
			<li>
				<a href="" data-anchor="why-us">Чому ми?</a>
			</li>
			<li>
				<a href="" data-anchor="contacts">Контакти</a>
			</li>
		</ul>
	</nav>

	<include src="components/items/item-phone.html"></include>
</header>
