<section
	class="section-how-payment"
	data-anchor-section="right-payment"
	data-block-animation="how-payment"
>
	<div class="label-sticky">
		ХТО МАЄ ПРАВО НА ВИПЛАТУ?
	</div>

	<div class="container">
		<div class="section-how-payment__items">
			<div class="item-hover">
				<div class="item-hover__header">
					<h2 class="h3">
						Водії автомобілів, які не є винуватцем ДТП
					</h2>
				</div>

				<div class="item-hover__wrapper">
					<div class="item-hover__content">
						Фінансові втрати після аварії – це реальність, але ви не самі. Ми допомагаємо вирішити питання страхових
						виплат швидко, комфортно та на законних підставах.
					</div>
				</div>
			</div>

			<div class="item-hover">
				<div class="item-hover__header">
					<h2 class="h3">
						Пасажири, які не є винуватцем ДТП
					</h2>
				</div>

				<div class="item-hover__wrapper">
					<div class="item-hover__content">
						Фінансові втрати після аварії – це реальність, але ви не самі. Ми допомагаємо вирішити питання страхових
						виплат швидко, комфортно та на законних підставах.
					</div>
				</div>
			</div>

			<div class="item-hover">
				<div class="item-hover__header">
					<h2 class="h3">
						Пасажири автомобіля, винуватця ДТП
					</h2>
				</div>

				<div class="item-hover__wrapper">
					<div class="item-hover__content">
						Фінансові втрати після аварії – це реальність, але ви не самі. Ми допомагаємо вирішити питання страхових
						виплат швидко, комфортно та на законних підставах.
					</div>
				</div>
			</div>

			<div class="item-hover">
				<div class="item-hover__header">
					<h2 class="h3">
						Пішоходи
					</h2>
				</div>

				<div class="item-hover__wrapper">
					<div class="item-hover__content">
						Фінансові втрати після аварії – це реальність, але ви не самі. Ми допомагаємо вирішити питання страхових
						виплат швидко, комфортно та на законних підставах.
					</div>
				</div>
			</div>

			<div class="item-hover">
				<div class="item-hover__header">
					<h2 class="h3">
						Велосипедисти
					</h2>
				</div>

				<div class="item-hover__wrapper">
					<div class="item-hover__content">
						Фінансові втрати після аварії – це реальність, але ви не самі. Ми допомагаємо вирішити питання страхових
						виплат швидко, комфортно та на законних підставах.
					</div>
				</div>
			</div>
			<div class="item-hover">
				<div class="item-hover__header">
					<h2 class="h3">
						Пасажири маршрутних таксі
					</h2>
				</div>

				<div class="item-hover__wrapper">
					<div class="item-hover__content">
						Фінансові втрати після аварії – це реальність, але ви не самі. Ми допомагаємо вирішити питання страхових
						виплат швидко, комфортно та на законних підставах.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
