<section class="container section" data-block-animation="trust">
	<div class="section__items">
		<div class="card card--center">
			<div class="card__header">
				<div class="elastic-gradient"></div>
				<div class="card__icon">
					<svg>
						<use href="/images/sprite.svg#content-mountain"></use>
					</svg>
				</div>
			</div>
			<div class="card__main">
				<div class="card__title">
					Наші партнери - провідні страхові компанії України
				</div>
			</div>
		</div>
		<div class="card card--center">
			<div class="card__header">
				<div class="elastic-gradient"></div>
				<div class="card__icon">
					<svg>
						<use href="/images/sprite.svg#content-shield"></use>
					</svg>
				</div>
			</div>
			<div class="card__main">
				<div class="card__title">
					Ми допомагаємо отримати виплати від страхової компанії згідно закону
				</div>
			</div>
		</div>
		<div class="card card--center">
			<div class="card__header">
				<div class="elastic-gradient"></div>
				<div class="card__icon">
					<svg>
						<use href="/images/sprite.svg#content-gavel"></use>
					</svg>
				</div>
			</div>
			<div class="card__main">
				<div class="card__title">
					Забезпечуємо повний юридичний супровід без ризиків
				</div>
			</div>
		</div>
	</div>
</section>
