<section class="container section-we-understand" data-block-animation="we-understand">
	<div class="section-we-understand__body">
		<div class="section-we-understand__header">
			<h2 class="h2">
				Ми розуміємо, через що ви проходите
			</h2>
		</div>

		<div class="section-we-understand__main">
			<div class="card card--black card--center card--payment">
				<div class="card__header">
					<div class="card__icon">
						<svg>
							<use href="/images/sprite.svg#content-car-crash"></use>
						</svg>
					</div>
				</div>
				<div class="card__main">
					<div class="card__main">
						<div class="card__title">
							ДТП – це завжди несподіванка. А коли є потерпілі – ситуація ускладнюється ще більше.
						</div>
					</div>
				</div>

				<div class="card__action">
					<button type="button" class="btn" data-anchor="contacts">
						Звертайтесь прямо зараз

						<span class="btn__icon">
							<svg>
								<use href="/images/sprite.svg#icon-arrow-right"></use>
							</svg>
						</span>
					</button>
				</div>
			</div>
		</div>

		<div class="line line--1" data-line="start">
			<div class="dot">
				<div class="label">
					<div class="label__picture picture">
						<img
							src="/images/understand-1.jpeg" alt="Picture"
							width="157" height="139"
							class="img-cover"
						>
					</div>
					<div class="label__content">
						Якщо страхова відмовить у виплаті – що тоді?
					</div>
				</div>
			</div>

			<svg xmlns="http://www.w3.org/2000/svg" width="283" height="158" viewBox="0 0 283 158" fill="none">
				<path d="M2.10156 1C28.2035 89.7443 120.738 234.636 282.06 104.249" stroke="#90B7C0" stroke-width="3"
				      stroke-dasharray="4 4"
				/>
			</svg>
		</div>

		<div class="line line--2" data-line="start">
			<div class="dot">
				<div class="label">
					<div class="label__picture picture">
						<img
							src="/images/understand-2.jpeg"
							alt="Picture" width="127" height="130"
							class="img-cover"
						>
					</div>

					<div class="label__content">
						Чи має винуватець виплачувати компенсацію вам особисто?
					</div>
				</div>
			</div>

			<svg xmlns="http://www.w3.org/2000/svg" width="358" height="109" viewBox="0 0 358 109" fill="none">
				<path
					d="M332.723 2C347.765 11.5619 370.84 37.8299 342.804 66.4072C307.759 102.129 115.735 23.6495 1 107"
					stroke="#90B7C0" stroke-width="3" stroke-dasharray="4 4"/>
			</svg>
		</div>

		<div class="line line--3" data-line="end">
			<div class="dot">
				<div class="label">
					<div class="label__content">
						Чому мені радять “домовитися на місці” і чи варто це робити?
					</div>
				</div>
			</div>

			<svg xmlns="http://www.w3.org/2000/svg" width="287" height="82" viewBox="0 0 287 82" fill="none">
				<path d="M1 29.9023C132.968 -0.0831634 368.546 -31.8689 255.112 80.8722" stroke="#90B7C0"
				      stroke-width="3" stroke-dasharray="4 4"/>
			</svg>
		</div>

		<div class="line line--4">
			<div class="picture">
				<img
					src="/images/understand-3.jpeg"
					alt="Picture" width="160" height="120"
					class="img-cover"
				>
			</div>
		</div>
	</div>
</section>
