<div class="item-phone">
	<div class="item-phone__header">
		<button type="button" class="item-phone__option">
			<svg class="item-phone__icon">
				<use href="/images/sprite.svg#icon-phone"></use>
			</svg>

			<span class="item-phone__value">
				+38 (093) 821 - 12 - 12
			</span>

			<svg class="item-phone__arrow">
				<use href="/images/sprite.svg#icon-arrow-down"></use>
			</svg>
		</button>
	</div>

	<div class="item-phone__dropdown">
		<div class="item-phone__option">
			<svg class="item-phone__icon">
				<use href="/images/sprite.svg#icon-phone"></use>
			</svg>

			<div class="item-phone__value">
				+38 (093) 821 - 12 - 12
			</div>
		</div>

		<div class="item-phone__option">
			<svg class="item-phone__icon">
				<use href="/images/sprite.svg#icon-phone"></use>
			</svg>

			<div class="item-phone__value">
				+38 (093) 821 - 12 - 12
			</div>
		</div>
	</div>
</div>
