<div class="item-accordion" data-accordion-item>
	<button type="button" class="item-accordion__header" data-accordion-btn>
		<span class="item-accordion__title">
			А якщо страхова відмовить?
		</span>

		<span class="item-accordion__btn">
			<svg>
				<use href="/images/sprite.svg#icon-plus"></use>
			</svg>
		</span>
	</button>

	<div class="item-accordion__wrapper" data-accordion-content>
		<div class="item-accordion__content">
			lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor lorem ipsum dolor sit
			amet, consectetur adipiscing elit, sed do eiusmod tempor
		</div>
	</div>
</div>
